@charset "UTF-8";
/* CSS Document */

body {font-family:Futura,"Trebuchet MS",Arial,sans-serif;


a:link {
	color:#ffe066;
	text-decoration: none;}
	
a:visited {
	color:white;}
    
    
background: #232526 ; /* fallback for old browsers */
background: -webkit-radial-gradient(circle, #232526 , #14141f); /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient(circle, #232526 , #14141f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        }

    h1 {text-align:center;
    color:white;
    font-style: italic;
    font-style: bold;
    font-size:100px;
}

 h2 {text-align:center;
    color:white;
    font-style: bold;
    font-size:100px;
letter-spacing:13px}

h3 { text-align: right;
color:white;
    margin-right:50px;
     font-style: bold;
    line-height:40px;
    font-size:30px;
    
    margin-top:200px;
}

}
