@charset "UTF-8";
/* CSS Document */


a:link {
	color: white;
	text-decoration: none;}
	
a:visited {
	color:white;}

    h1 {text-align:left;
     margin-left:30px;
    color:white;
    font-style: italic;
    font-size:20px;}

h2 { text-align: center;
   
color:white;
     font-style: bold;
    line-height:150px;
    font-size:100px;
margin-top:150px}

h3 { text-align:right;
    color:white;
    font-size:20px;
 font-style: italic;
     margin-right:30px;
     margin-top:300px;
    
}

body {font-family: Futura,"Trebuchet MS",Arial,sans-serif;


background: #00264d; /* fallback for old browsers */
background: -webkit-radial-gradient(circle, #00264d, #000d1a); /* Chrome 10-25, Safari 5.1-6 */
background: radial-gradient(circle, #00264d , #000d1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
  }